<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 07.12.2016, 07:40</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post.</p>
        </div>

        <div>
            <p>published: 07.12.2016, 07:40</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post.</p>
        </div>
    </body>
</html>